@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Radio+Canada:wght@300;400;500;600;700&family=Tapestry&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(52, 64, 86);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
